services:
  postgres:
    image: postgres:15-alpine
    container_name: nest_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '${DATABASE_PORT}:5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: development # Use the development stage
    container_name: nest_app
    restart: unless-stopped
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules # Anonymous volume to prevent host node_modules from overwriting container's
    ports:
      - '${PORT}:3000'
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    command: npm run start:dev

volumes:
  pgdata:
    driver: local
